<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>A password reset was required </p>
  <p>Access the link below to reset your password </p>
  <br/>
  <p>
    <a href="{{link}}">Password Reset</a>
  </p>
</div>
